.jumbotron {
  background-color: #fdf8c1;
  border: 1px solid #f2cb3b;
  h2 {
    color: #c41200;
    font-weight: bold;
  }
}

.navbar-default {
  .container-fluid {
    background-color: #c21101;
.navbar-nav > li > a {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  }
    .navbar-brand {
      color: black;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Hobo Std';
      text-shadow: 2px 0 0 #fff, 2px 00 #fff, -2px 0 #fff, 1px 1px #fff, -1px -1px, 1px -1px
    }
  }
  }

.container-fluid {
  padding: 10px 120px;
}